* {
  margin: 5 px auto;
}
/* nav/banner styles */
nav {
  background-image: url(../images/Banner\ Image.png);
  width: 1320px;
  height: 600px;
  border-radius: 16px;
}
.banner {
  width: 632px;
  height: 246px;
  text-align: center;
  padding: 177px 344px 177px 344px;
}
.banner-titile {
  font-weight: 600;
  font-size: 32px;
  color: rgba(255, 255, 255, 1);
}
.banner-heading {
  font-weight: bolder;
  font-size: 72px;
  color: rgba(255, 255, 255, 1);
}
/* section catagory styles */
.section-catagory {
  width: 802px;
  height: 806px;
  padding: 129px 260px 111px 260px;
  text-align: center;
  margin-bottom: 130px;
}
.section-heading {
  font-weight: 383px;
  font-size: 107px;
  color: rgba(255, 0, 0, 1);
}
.section-descrip {
  font-weight: 397px;
  font-size: 29px;
  color: rgba(255, 0, 0, 1);
}
.section-title {
  font-weight: bold;
  font-size: 48px;
  color: rgba(7, 2, 17, 1);
}

/* Hero Section */
.hero {
  height: 600px;
  width: 1320px;
  position: relative;

  background-image: url(../images/Vectorrr.png);
  background-size: cover;
  display: flex;
}
.content h1 {
  font-weight: 642px;
  color: rgba(255, 255, 255, 1);
  margin: 120px 94px 24px 143px;
}
.content p {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
  margin: 24px 40px 32px 143px;
}
.btn {
  font-weight: bold;
  font-size: 20px;
  color: rgba(255, 255, 255, 1);
  margin: 48px 550px 148px 175px;
  cursor: pointer;
  text-decoration: none;
}
.year {
  width: 319px;
  height: 464px;
  margin: 68px 138px 68px 0;
}

/* event card styles */
.card-event {
  margin-top: 100px;
  width: 1120px;
  height: 400   px;
  padding: 100px;
  text-align: center;
  background: lightpink;
  border-radius: 16px;
}

.card-details p {
  font-size: 32px;
  font-weight: 800px;
  color: #000000;
  margin-bottom: 48px;
}

.card-details .event-span {
  color: #ff0000;
}

.btn-card {
  margin-top: 48px;
  padding: 16px 32px;
  background-color: #ff0000;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 0.5px;
}

.btn-card:hover {
  background-color: #d60000;
}
